@model BSUIR.Chepurok.EducationEpam.BLL.Entities.SwapBadgeEntity

<div>
    @Html.DisplayFor(model => model.Image)
    @Html.DisplayFor(model => model.Description)
    @Html.DisplayFor(model => model.Title)
    @Html.DisplayFor(model => model.Comment)
    @Html.DisplayFor(model => model.Created)
    @Html.DisplayFor(model => model.UserName)
</div>
